---
---

@import 'styleguide';

@media screen and (min-width: 1000px) {
  .value-proposition {
    h1 {
      font-size: 3vw!important;
    }
  }
}

.advertisers-page {
  .value-proposition {
    background: $black;
    padding: 2rem;
    h1 {
      color: $yellow;
      font-size: 8vw;
      margin: 0;
    }

    .lead {
      color: $white;
    }


    hr {
      background: #c4c4c4  ;
    }
  }
  .stats {
    h2 {
      color: $rust;
      i {
        color: $clear-blue;
        font-size: 1.5rem;
        padding-right: 20px;
      }
    }
  }
}