---
---

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:400,300,600,700);

@import 'styleguide';

.small {
  font-size: 11px;
}

@media screen and (min-width: 1000px) {
  #logo-tag {
    font-size: 70px;
  }
}

@media screen and (min-width: 1000px) {
  .main-banner {
    background-position: 50% 0 !important;
    min-height: 660px!important;
  }
  .main-banner-content-container > div {
    width: 50% !important;
  }
}

@media screen and (min-width: 1000px) {
  .main-banner .main-banner-header {
    font-size: 3.5rem!important;
  }
}

@media screen and (min-width: 1000px) {
  .main-banner .main-cta {
    max-width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .feature {
    display: flex!important;
  }
}

@media screen and (min-width: 1000px) {
  .feature .feature-image-container {
    width: 100%!important;
  }
}

@media screen and (min-width: 1000px) {
  .feature .feature-content {
    width: 50%!important;
  }

  .capture-leads {
    display: flex;
    justify-content: center;
    .btn-cta {
      margin-left: 40px;
      max-width: 40%;
    }
  }

  .presale-page {
    .colors-banner {
      background-position: 50% 0 !important;
      min-height: 660px!important;
    }
  }
}

header {
  min-height: 119px;
  .gc-navbar {
    background: $white;
    border-bottom: 1px solid $grey;
  }

  .navbar-brand {
    margin: 0 auto;
    text-transform: uppercase;
    color: $black;

    &:visited {
      color: $black;
    }

    img {
      height: 92px;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 7vw;
      margin: 0;
    }
  }

  nav {
    &.navbar {
      font-family: "Roboto", serif;
      font-size: 13pt;
      .nav-item {
        &.active {
          a.nav-link {
            color: $scarlet;
          }
        }
      }
      a {
        color: $black;
        text-transform: capitalize;
      }
    }
  }

  .social-icons {
    font-size: 20pt;
    a {
      color: $black;
      &:hover {
        color: $rust;
        text-decoration: none;
      }
    }
  }
}

body {
  main {
    &.page-content {
      font-family: "Roboto", sans-serif;
      padding-top: 0;

      h1, h2, h3, h4 {
        font-family: "Montserrat", sans-serif;
      }

      .main-banner {
        background: url('/img/main-banner.jpg');
        background-position: 50%;
        background-size: cover;
        min-height: 400px;
        position: relative;

        .launch-date {
          font-size: 1.2rem;
          color: $white;
        }

        .main-banner-header {
          color: $white;
          text-shadow: -1px -1px $grey;
          font-size: 3rem;
        }

        .lead {
          color: $white;
          text-align: justify;
        }

        .main-banner-content {
          position: absolute;
          bottom: 30px;
          width: 100%;
        }

        .main-banner-content-container {
          display: flex;
          justify-content: center;
          div {
            width: 80%;
          }
        }
      }

      .feature {
        border: 1px solid $grey;
        border-radius: 4px;
        margin-bottom: 28px;
        padding: 10px;

        .feature-image-container {
          width: 100%
        }

        .feature-content {
          color: $black;
          font-size: 18px;
          padding: 20px;
          width: 100%;
          h3 {
            text-align: center;
          }
        }
      }

      .bulleted-list {
        .bullet {
          border-bottom: 1px dashed $grey;
          font-size: 1.2em;
          h3 {
            color: $rust;
            font-size: 1.3em;
          }
          .prepend-bullet {
            i {
              margin-right: 0.8rem;
              color: $clear-blue;
            }
          }
          p {
            margin-left: 2.5rem;
          }
        }
      }

      h2 {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 50;
        text-transform: uppercase;
      }

      h3 {
        font-size: 24px;
      }
    }

    a {
      color: $black;
      font-family: "Playfair Display", italic;
      text-decoration: underline;
      &:visited {
        color: $black;
      }
    }

    .read-more {
      float: right;
    }

    button, a {
      &.btn-cta {
        background-color: $scarlet;
        border: 1px solid $light-scarlet;
        color: $white;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        outline: 0;
        padding: 8px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(34,2,0,0.5);
        -moz-box-shadow: 0px 1px 2px 0px rgba(34,2,0,0.5);
        box-shadow: 0px 1px 2px 0px rgba(34,2,0,0.5);

        &:hover {
          background-color: $light-scarlet;
          color: $white;
        }
      }

      &.btn-yellow {
        background-color: $yellow;
        border: 0;
        color: $white;
        font-style: normal;
        outline: 0;
        padding: 8px;
        text-decoration: none;

        &:hover {
          background-color: $light-yellow;
          color: $white;
        }
      }
    }

    .blog-post {
      .capture-leads {
        margin-top: 60px;
      }
    }

    .presale-page {
      .special-offer {
        padding: 20px;
        .presale-notice {
          text-align: center;
          font-size: 1rem;
        }
      }

      .perks {
        max-width: 370px;
        margin: 0 auto;
      }

      .loud {
        font-size: 1.2rem;
      }
      .bulleted {
        &:before {
          font-family: "Font Awesome 5 Free";
          margin-right: 6px;
          font-weight: 900;
          content: "\f00c";
          color: $bright-green;
        }
      }
      .countdown {
        color: #333;
        text-align: center;
        h1 {
          font-weight: normal;
          font-size: 1.5rem;
        }

        li {
          display: inline-block;
          font-size: 1em;
          list-style-type: none;
          padding: 10px;
          text-transform: uppercase;
        }

        li span {
          display: block;
          font-size: 1.5rem;
        }
      }


      .main-banner {
        margin-bottom: 0;
      }

      .colors-banner {
        background: url('/img/W&P-colors-mens-womens.jpg');
        background-position: 50%;
        background-size: cover;
        min-height: 400px;
        position: relative;
      }

      form {
        .form-label {
          font-size: 1.2rem;
          display: block;
          margin-bottom: 6px;
        }
        .form-error {
          color: $bright-red;
          font-size: 0.8rem;
        }
      }
    }

    .crossed-price {
      color: $bright-red;
      font-size: 1.5rem;
      text-decoration: line-through;
    }

    .price {
      color: $bright-green;
      font-size: 1.5rem;
    }

    .muted-text {
      font-size: .9rem;
    }
  }

  footer {
    &.page-footer {
      font-family: "Roboto", sans-serif;
      .about-us {
        p {
          text-align: justify;
        }
      }
      a {
        color: $black;
        &:visited {
          color: $black;
        }
      }

      .social-icons {
        a {
          color: $black;
          &:hover {
            color: $rust;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.featured-posts {
  background: $grey;
  .carousel-item {
    .carousel-caption {
      background: $white-translucid;
      color: $black;
    }
  }

  .carousel-indicators {
    li {
      background-color: $black-translucid;
    }
    .active {
      background-color: $black;
    }
  }
}

.posts {
  .post {
    h3 {
      a {
        text-decoration: none;
        text-transform: none;
        font-style: normal;
      }
    }
    .post-image {
      width: 420px;
    }
  }
}

.capture-leads {
  background-color: $black;
  border-radius: 0;

  .newsletter-icon {
    width: 100%;
  }

  h3 {
    color: $white;
    text-transform: uppercase;
  }
  p {
    color: $white;
  }
}