---
layout: main
---
<div class="jumbotron jumbotron-fluid main-banner">
  <div class="main-banner-content">
    <div class="main-banner-content-container">
      <div>
        <span class="launch-date">First collection drops Oct 4th</span><br />
        <span class="main-banner-header display-4 d-lg-none">
          Join for $20 USD gift card.
        </span>
        <span class="main-banner-header display-4 d-none d-lg-block">
          Join for $20 USD gift card.
        </span>
        <button type="button" class="btn btn-lg btn-cta main-cta p-2 p-md-3 mt-md-3" data-toggle="modal" data-target="#newsletterModal">Get yours</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% for feature in site.features %}
    <div class="feature">
      <div class="feature-image-container">
        <img src="{{ feature.image }}" alt="{{ feature.image_alt }}" />
      </div>
      <div class="feature-content">
        <h3>{{ feature.title }}</h3>
        <div class="d-none d-lg-block">{{ feature.content | markdownify }}</div>
      </div>
    </div>
  {% endfor %}
</div>
<!-- Modal -->
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Join our Newsletter for a $20 USD gift card.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="succesfullyJoined" class="d-none">
          <p>
            We sent an email to verify it is you, please check your email to confirm your subscription and for further instructions.
          </p>
        </div>
        <div class="klaviyo-form-QKTMaC" id="klaviyoForm"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">{% include capture-leads.html %}</div>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=PAFHWQ"></script>
<script type="text/javascript">
  (function () {
    MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
    var toggleSuccessAlert = function() {
      if ($('#klaviyoForm').html() === '') {
        $('#succesfullyJoined').removeClass('d-none');
      } else {
        $('#succesfullyJoined').addClass('d-none');
      }
    };

    var observer = new MutationObserver(function(mutations, observer) {
      setTimeout(toggleSuccessAlert, 0);
    });

    observer.observe(document.getElementById('newsletterModal'), {
      subtree: true,
      childList: true,
    });
  })();
</script>