---
layout: main
title: Thanks for your purchase.
permalink: thanks-for-your-order
---

<div class="presale-page">
  <div class="container">
    <h1>Thanks for your order!</h1>
    <p>
      <span id="customerName"></span>, your order is <strong id="orderId"></strong> and your jacket is now on production.<br />
      Ships on October 15th.
      As soon as it is ready we will ship it and will keep in touch through your email <strong id="customerEmail"></strong>.<br />
      If you have any questions or comments don't hesitate on contacting us at
      <a href="mailto:contact@westandpearl.com?subject=Dudas con mi orden West & Pearl">
        contact@westandpearl.com
      </a>
      <h4>Soon you look this good 👇</h4>
      <img src="/img/all-west-and-pearl-jackets.jpg" />
    </p>
  </div>
</div>

<script>
  $(document).ready(function() {
    var url = new URL(window.location.href);
    var orderId = url.searchParams.get('orderId');
    var name = url.searchParams.get('name')
    $('#customerName').text(name ? name : 'Dear customer ');
    $('#customerEmail').text(url.searchParams.get('email'));
    $('#orderId').text(url.searchParams.get('order_id'));
  });
</script>