---
layout: main
title: Preventa exclusiva West & Pearl para Gusto Clásico.
permalink: preventa-exclusiva
---

<div class="presale-page">
  <div class="special-offer">
    <p class="presale-notice">
      Preordena tu chaqueta a un precio especial.<br />
      De <span class="crossed-price">$457 USD</span><span class="price">$228.50 USD</span>.
    </p>
  </div>
  <div class="container mb-3">
    <div class="perks">
      <span class="loud bulleted">Envío gratuito a todo el mundo. 🌎</span><br />
      <span class="loud bulleted">Si no te gusta devolvemos tu dinero. 💵</span><br />
      <span class="loud bulleted">Si no te queda la cambiamos. 🔄</span><br />
    </div>
  </div>
  {% include countdown.html %}
  <div class="container">
  {% for feature in site.features_es %}
    <div class="feature">
      <div class="feature-image-container">
        <img src="{{ feature.image }}" alt="{{ feature.image_alt }}" />
      </div>
      <div class="feature-content">
        <h3>{{ feature.title }}</h3>
        <div class="d-none d-lg-block">{{ feature.content | markdownify }}</div>
      </div>
    </div>
  {% endfor %}
</div>
  {% include purchase_form.html %}
</div>
