---
layout: main
title: Preorder your West & Pearl at a special price.
permalink: preorder
---

<div class="presale-page">
  <div class="special-offer">
    <p class="presale-notice">
      Preorder your jacket at a special price.<br />
      Of <span class="crossed-price">$457 USD</span> <span class="price">$228.50 USD</span>.
    </p>
  </div>
  <div class="container mb-3">
    <div class="perks">
      <span class="loud bulleted">Free shipping worldwide. 🌎</span><br />
      <span class="loud bulleted">100% money back guarantee. 💵</span><br />
      <span class="loud bulleted">If it doesn't fit, we'll replace it. 🔄</span><br />
    </div>
  </div>
  {% include countdown.html lang="en" %}
  <div class="container">
  {% for feature in site.features %}
    <div class="feature">
      <div class="feature-image-container">
        <img src="{{ feature.image }}" alt="{{ feature.image_alt }}" />
      </div>
      <div class="feature-content">
        <h3>{{ feature.title }}</h3>
        <div class="d-none d-lg-block">{{ feature.content | markdownify }}</div>
      </div>
    </div>
  {% endfor %}
</div>
  {% include purchase_form_en.html %}
</div>
