---
layout: main
title: Gracias por tu compra.
permalink: gracias-por-tu-compra
---

<div class="presale-page">
  <div class="container">
    <h1>¡Agradecemos tu compra!</h1>
    <p>
      <span id="customerName"></span>, tu orden es la <strong id="orderId"></strong> y tu chaqueta está en producción.<br />
      Los envíos se harán el día 15 de Octubre 2019 aproximadamente.
      En cuanto esté lista te la enviaremos, te informaremos de cualquier novedad así como de cuando tu chaqueta sea enviada a tu correo <strong id="customerEmail"></strong>.<br />
      Si tienes cualquier duda envíanos un correo a
      <a href="mailto:contact@westandpearl.com?subject=Dudas con mi orden West & Pearl">
        contact@westandpearl.com
      </a>
      <h4>Pronto lucirás así de bien 👇</h4>
      <img src="/img/all-west-and-pearl-jackets.jpg" />
    </p>
  </div>
</div>

<script>
  $(document).ready(function() {
    var url = new URL(window.location.href);
    var orderId = url.searchParams.get('orderId');
    var name = url.searchParams.get('name')
    $('#customerName').text(name ? name : 'Estimado(a) cliente ');
    $('#customerEmail').text(url.searchParams.get('email'));
    $('#orderId').text(url.searchParams.get('order_id'));
  });
</script>