<div class="jumbotron capture-leads" id="capture">
  <h3>Join for $20 USD gift card.</h3>
  <button type="button" class="btn btn-lg btn-cta main-cta p-2 p-md-3 mt-md-3" data-toggle="modal" data-target="#newsletterModal">Get yours</a>
</div>
