<div class="countdown">
  <h1 id="head">
    {% if include.lang == "en" %}
      Offer expires
    {% else %}
      Oferta termina
    {% endif %}
  </h1>
  <ul>
    <li><span id="days"></span>{% if include.lang == "en" %}days{% else %}días{% endif %}</li>
    <li><span id="hours"></span>{% if include.lang == "en" %}hours{% else %}horas{% endif %}</li>
    <li><span id="minutes"></span>{% if include.lang == "en" %}minutes{% else %}minutos{% endif %}</li>
    <li><span id="seconds"></span>{% if include.lang == "en" %}seconds{% else %}segundos{% endif %}</li>
  </ul>
</div>
<script>
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let countDown = new Date('Oct 04, 2019 16:00:00').getTime(),
      x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
      document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
    }, second)
</script>
