<footer class="page-footer">
  <div class="container">
    <div class="brand">
      <div class="row">
        <div class="col-12 text-center">
          <p>2019 West & Pearl ®</p>
        </div>
      </div>
    </div>
  </div>
</footer>