<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top gc-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/west-and-pearl-logo.svg" alt="West & Pearl. What every outfit needs"/>
      </a>
    </div>
  </nav>
</header>