<nav class="nav">
  <li class="nav-item"><a class="nav-link" href="/estilo">Estilo</a></li>
  <li class="nav-item"><a class="nav-link" href="/aseo">Aseo</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Más</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/exito">Éxito</a>
      <a class="dropdown-item" href="/hombre-simple-y-clasico">El Hombre Simple y Clásico</a>
      <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/anunciantes">Anuciantes</a>
    </div>
  </li>
</nav>