<div class="posts">
  {% for post in include.given_posts %}
    <div class="post card mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <a href="{{ post.url }}"><img src="{{post.image}}"></a>
          </div>
          <div class="col-md-9">
            <div class="mb-4 mt-4 mt-sm-1">
              <h3 class="mb-0"><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <span class="small">
                por <a href="/authors/gustavo">Gustavo Ortiz</a> el {{ post.display_date }}
              </span>
            </div>
            <p>{{ post.excerpt }}</p>
            <div class="read-more">
              <a href="{{ post.url }}">leer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>