<div class="container">
  <h2>Pre-order now!</h2>
  <form action="javascript:;" onsubmit="return onSubmitForm(this);">
    <div>
      <span class="form-label">Line:</span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="womensJacket" value="women" name="jacketType">
        <label class="form-check-label" for="womensJacket">Women</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="mensJacket" value="men" name="jacketType">
        <label class="form-check-label" for="mensJacket">Men</label>
      </div>
      <div id="jacketTypeError" class="d-none form-error"></div>
    </div>
    <div>
      <span class="form-label">Color:</span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="blackJacket" value="black" name="jacketColor">
        <label class="form-check-label" for="blackJacket">Black</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="brownJacket" value="brown" name="jacketColor">
        <label class="form-check-label" for="brownJacket">Brown</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="burgundyJacket" value="burgundy" name="jacketColor">
        <label class="form-check-label" for="burgundyJacket">Burgundy</label>
      </div>
      <div id="jacketColorError" class="d-none form-error"></div>
    </div>
    <div>
      <span class="form-label">Size: <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sizeGuide">what's my size?</button></span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="smallJackett" value="s" name="jacketSize">
        <label class="form-check-label" for="smallJackett">S</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="mediumJacket" value="m" name="jacketSize">
        <label class="form-check-label" for="mediumJacket">M</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="largeJacket" value="l" name="jacketSize">
        <label class="form-check-label" for="largeJacket">L</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="extraLargeJacket" value="xl" name="jacketSize">
        <label class="form-check-label" for="extraLargeJacket">XL</label>
      </div>
      <div id="jacketSizeError" class="d-none form-error"></div>
    </div>
    <div class="form-group">
      <label for="customSleeveSize">Sleeve length inches (optional)
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sleeveLength">what's this?</button>
      </label>
      <input type="number" step="0.1" class="form-control" name="customSleeveSize" id="customSleeveSize">
    </div>


    <span class="form-label">Shipping:</span>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
        <div id="nameError" class="d-none form-error"></div>
      </div>
      <div class="form-group col-md-6">
        <label for="surname">Last name</label>
        <input type="text" class="form-control" id="surname">
        <div id="surnameError" class="d-none form-error"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Email</label>
      <input type="email" class="form-control" id="email" placeholder="To send updates on your order.">
      <div id="emailError" class="d-none form-error"></div>
    </div>

    <div class="form-group">
      <label for="street">Address</label>
      <input type="text" class="form-control" id="street" placeholder="Street, number and apt.">
      <div id="streetError" class="d-none form-error"></div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city">
        <div id="cityError" class="d-none form-error"></div>
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state">
        <div id="stateError" class="d-none form-error"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="country">Country</label>
        <select id="country" class="form-control">
          {% include country-list-en.html %}
        </select>
        <div id="countryError" class="d-none form-error"></div>
      </div>
      <div class="form-group col-md-6">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip">
        <div id="zipError" class="d-none form-error"></div>
      </div>
    </div>

    <button type="submit" class="btn btn-cta mt-3">Checkout</button>
  </form>
</div>

<div class="modal fade" id="paypalModal" tabindex="-1" role="dialog" aria-labelledby="paypalModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm your order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <span id="orderDesc"></span><br />
          <h3>Total: <span class="price">$228.50 USD</span></h3>
          <p>Free shipping. Will be shipped on October 15th 2019.</p>
          <h4>Confirm your contact information</h4>
          <strong>Ship to:</strong>
          <p>
            <span id="customerName"></span><br />
            <span id="customerEmail"></span><br />
            <span id="customerStreet"></span><br />
            <span id="customerCity"></span>,<span id="customerState"></span>,
            <span id="customerZip"></span>, <span id="customerCountry"></span><br />
          </p>
          <strong>Click on "PayPal" button to checkout</strong>
          <div id="paypal-button-container"></div>
          <div class="disclaimer">
            <p>
              <strong>Important:</strong>
              We have no stock, your jacket is handmade after you order it and will be shipped on October 15th 2019.
            </p>
            <p>
              <strong>Important:</strong>
              It is possible you will have to pay for customs and taxes, this changes from country to country and usually
              is payable on delivery to the representative deilvering your package.
              Keep this extra cost in mind before ordering your jacket.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sleeveLength" tabindex="-1" role="dialog" aria-labelledby="sleeveLength" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
            How to messure your sleeve length
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <img src="/img/sleeve-length.jpg" />
          <p>Using a flexible meassuring tape meassure from the middle of your neck (A) to your wrist bone(D). Keep your elbow bent to ensure you will be able to do so with your jacket on.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include size-guide.html lang="en" %}

<script type="text/javascript">
  var renderCustomerData = function(conf) {
    var sleeve = conf.customSleeveSize === '' ? ' Default sleeve size ' : ' Sleeve ' + conf.customSleeveSize + ' inches';
    $('#orderDesc').html('1 ' + displayColor(conf.jacketColor) + ' Leather jacket ' + conf.jacketType + ' size "' +
      conf.jacketSize.toUpperCase() + '" ' + sleeve + ' | contact email: ' + conf.email);
    $('#customerName').html(conf.name + ' ' + conf.surname);
    $('#customerEmail').html(conf.email);
    $('#customerStreet').html(conf.street);
    $('#customerCity').html(conf.city);
    $('#customerState').html(conf.state);
    $('#customerZip').html(conf.zip);
    $('#customerCountry').html(conf.country);
  };

  var displayColor = function(color) {
    if (color === 'black') return 'Black';
    if (color === 'brown') return 'Brown';
    if (color === 'burgundy') return 'Burgundy';
  }

  var showPaypalPayment = function(conf) {
    var sleeve = conf.customSleeveSize === '' ? ' Default sleeve size ' : ' Sleeve ' + conf.customSleeveSize + ' inches';
    var paypalConfig = {
      createOrder: function(data, actions) {
        return actions.order.create({
          intent: 'CAPTURE',
          payer: {
            given_name: conf.name,
            surname: conf.surname,
            email_address: conf.email,
            address: {
              address_line_1: conf.street,
              admin_area_2: conf.city,
              admin_area_1: conf.state,
              postal_code: conf.zip,
              country_code: conf.country,
            },
          },
          application_context: {
            brand_name: 'West & Pearl.',
            locale: 'en-US',
          },
          purchase_units: [{
            amount: {currency_code: "USD", value: '228.50', breakdown: { item_total: { currency_code: 'USD', value: '228.50' } } },
            items: [{
              name: displayColor(conf.jacketColor) + ' Leather jacket ' + conf.jacketType + ' size "' +
                conf.jacketSize.toUpperCase() + '" ' + sleeve + ' | contact email: ' + conf.email,
              unit_amount: {
                currency_code: 'USD', value: '228.50',
              },
              quantity: '1',
            }]
          }],
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
          window.location = '/thanks-for-your-order?name=' +
            details.payer.name.given_name + '&order_id=' + data.orderID +
            '&email='+details.payer.email_address;
        });
      }
    };

    $('#paypal-button-container').html('')
    paypal.Buttons(paypalConfig).render('#paypal-button-container');

    renderCustomerData(conf);

    $('#paypalModal').modal({});
  };

  var showError = function(field, message) {
    $('#' + field + 'Error').removeClass('d-none').text(message);
  };

  var hideError = function(field) {
    $('#' + field + 'Error').addClass('d-none').text('');
  }


  onSubmitForm = function(form) {
    var valid = true;
    var conf = {};

    var validateField = function(form, field, display) {
      if (form[field].value === '') {
        showError(field, display + ' is required.');
        valid = false;
      } else {
        conf[field] = form[field].value;
        hideError(field);
      }
    }

    validateField(form, 'jacketType', 'Line');
    validateField(form, 'jacketColor', 'Color');
    validateField(form, 'jacketSize', 'Size');
    validateField(form, 'name', 'First Name');
    validateField(form, 'surname', 'Last name');
    validateField(form, 'email', 'Email');
    validateField(form, 'street', 'Address');
    validateField(form, 'city', 'City');
    validateField(form, 'state', 'State');
    validateField(form, 'country', 'Country');
    validateField(form, 'zip', 'Zip');
    if (form.customSleeveSize.value !== '') {
      conf.customSleeveSize = form.customSleeveSize.value;
    }
    if (valid) showPaypalPayment(conf);
  };
</script>