<div class="container">
  <h2>¡Pre-ordena ya!</h2>
  <form action="javascript:;" onsubmit="return onSubmitForm(this);">
    <div>
      <span class="form-label">Chaqueta para:</span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="womensJacket" value="women" name="jacketType">
        <label class="form-check-label" for="womensJacket">Mujer</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="mensJacket" value="men" name="jacketType">
        <label class="form-check-label" for="mensJacket">Hombre</label>
      </div>
      <div id="jacketTypeError" class="d-none form-error"></div>
    </div>
    <div>
      <span class="form-label">Color:</span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="blackJacket" value="black" name="jacketColor">
        <label class="form-check-label" for="blackJacket">Negra</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="brownJacket" value="brown" name="jacketColor">
        <label class="form-check-label" for="brownJacket">Marrón</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="burgundyJacket" value="burgundy" name="jacketColor">
        <label class="form-check-label" for="burgundyJacket">Borgoña</label>
      </div>
      <div id="jacketColorError" class="d-none form-error"></div>
    </div>
    <div>
      <span class="form-label">Talla: <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sizeGuide">¿Cuál es mi talla?</button></span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="smallJackett" value="s" name="jacketSize">
        <label class="form-check-label" for="smallJackett">S</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="mediumJacket" value="m" name="jacketSize">
        <label class="form-check-label" for="mediumJacket">M</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="largeJacket" value="l" name="jacketSize">
        <label class="form-check-label" for="largeJacket">L</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="extraLargeJacket" value="xl" name="jacketSize">
        <label class="form-check-label" for="extraLargeJacket">XL</label>
      </div>
      <div id="jacketSizeError" class="d-none form-error"></div>
    </div>
    <div class="form-group">
      <label for="customSleeveSize">Largo manga en cm (opcional)
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sleeveLength">¿Qué es esto?</button>
      </label>
      <input type="number" step="0.1" class="form-control" name="customSleeveSize" id="customSleeveSize">
    </div>


    <span class="form-label">Enviar a:</span>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name">
        <div id="nameError" class="d-none form-error"></div>
      </div>
      <div class="form-group col-md-6">
        <label for="surname">Apellidos</label>
        <input type="text" class="form-control" id="surname">
        <div id="surnameError" class="d-none form-error"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Para enviar información actualizaciones de tu pedido.">
      <div id="emailError" class="d-none form-error"></div>
    </div>

    <div class="form-group">
      <label for="street">Domicilio</label>
      <input type="text" class="form-control" id="street" placeholder="Calle, número e interior.">
      <div id="streetError" class="d-none form-error"></div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" id="city">
        <div id="cityError" class="d-none form-error"></div>
      </div>
      <div class="form-group col-md-4">
        <label for="state">Estado</label>
        <input type="text" class="form-control" id="state">
        <div id="stateError" class="d-none form-error"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="country">País</label>
        <select id="country" class="form-control">
          {% include country-list.html %}
        </select>
        <div id="countryError" class="d-none form-error"></div>
      </div>
      <div class="form-group col-md-6">
        <label for="zip">CP</label>
        <input type="text" class="form-control" id="zip">
        <div id="zipError" class="d-none form-error"></div>
      </div>
    </div>

    <button type="submit" class="btn btn-cta mt-3">Pagar</button>
  </form>
</div>

<div class="modal fade" id="paypalModal" tabindex="-1" role="dialog" aria-labelledby="paypalModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación de datos y pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <span id="orderDesc"></span><br />
          <h3>Total: <span class="price">$228.50 USD</span></h3>
          <p>Envío gratuito. Será enviada el 15 de Octubre 2019.</p>
          <h4>Confirma tus datos</h4>
          <strong>Enviar a:</strong>
          <p>
            <span id="customerName"></span><br />
            <span id="customerEmail"></span><br />
            <span id="customerStreet"></span><br />
            <span id="customerCity"></span>,<span id="customerState"></span>,
            <span id="customerZip"></span>, <span id="customerCountry"></span><br />
          </p>
          <strong>Da click en el botón de "PayPal" para realizar tu pago</strong>
          <div id="paypal-button-container"></div>
          <div class="disclaimer">
            <p>
              <strong>Importante:</strong>
              Al ser preventa no tenemos inventario, tu chaqueta se hará después de que la pidas y se enviarán el día 15 de Octubre 2019.
            </p>
            <p>
              <strong>Importante:</strong>
              Es posible que tu país, si vives fuera de México, cobre impuestos por adquirir este artículo, los montos varían de país a país.
              En tal caso suelen ser cobrados por la paquetería al momento de relizar la entrega.
              Ten en cuenta este posible costo extra antes de adquirir tu chamarra.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sleeveLength" tabindex="-1" role="dialog" aria-labelledby="sleeveLength" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cómo medir longitud de manga.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <img src="/img/sleeve-length.jpg" />
          <p>Con una cinta métrica flexible mide desde la mitad de tu cuello (A) alta, hasta el hueso de tu muñeca (D). Mantén tu codo flexionado para garantizar que podrás realizar ese movimiento.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include size-guide.html %}

<script type="text/javascript">
  var renderCustomerData = function(conf) {
    var type = conf.jacketType === 'men' ? 'hombre' : 'mujer';
    var sleeve = conf.customSleeveSize === '' ? ' Manga regular' : ' Manga ' + conf.customSleeveSize + ' cm';
    $('#orderDesc').html('1 Chaqueta cuero ' + type + ' en talla "' + conf.jacketSize.toUpperCase() +
      '" y en color ' + displayColor(conf.jacketColor) + sleeve);
    $('#customerName').html(conf.name + ' ' + conf.surname);
    $('#customerEmail').html(conf.email);
    $('#customerStreet').html(conf.street);
    $('#customerCity').html(conf.city);
    $('#customerState').html(conf.state);
    $('#customerZip').html(conf.zip);
    $('#customerCountry').html(conf.country);
  };

  var displayColor = function(color) {
    if (color === 'black') return 'Negro';
    if (color === 'brown') return 'Marrón';
    if (color === 'burgundy') return 'Borgoña';
  }

  var showPaypalPayment = function(conf) {
    var paypalConfig = {
      createOrder: function(data, actions) {
        return actions.order.create({
          intent: 'CAPTURE',
          payer: {
            given_name: conf.name,
            surname: conf.surname,
            email_address: conf.email,
            address: {
              address_line_1: conf.street,
              admin_area_2: conf.city,
              admin_area_1: conf.state,
              postal_code: conf.zip,
              country_code: conf.country,
            },
          },
          application_context: {
            brand_name: 'West & Pearl.',
            locale: 'es-MX',
          },
          purchase_units: [{
            amount: {currency_code: "USD", value: '228.50', breakdown: { item_total: { currency_code: 'USD', value: '228.50' } } },
            items: [{
              name: 'Chaqueta de cuero ' + conf.jacketType + ' | Color ' + conf.jacketColor +
                ' | Talla ' + conf.jacketSize.toUpperCase() + (conf.customSleeveSize !== '' ? ' | Manga ' + conf.customSleeveSize : ''),
              unit_amount: {
                currency_code: 'USD', value: '228.50',
              },
              quantity: '1',
            }]
          }],
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
          window.location = '/gracias-por-tu-compra?name=' +
            details.payer.name.given_name + '&order_id=' + data.orderID +
            '&email='+details.payer.email_address;
        });
      }
    };

    $('#paypal-button-container').html('')
    paypal.Buttons(paypalConfig).render('#paypal-button-container');

    renderCustomerData(conf);

    $('#paypalModal').modal({});
  };

  var showError = function(field, message) {
    $('#' + field + 'Error').removeClass('d-none').text(message);
  };

  var hideError = function(field) {
    $('#' + field + 'Error').addClass('d-none').text('');
  }


  onSubmitForm = function(form) {
    var valid = true;
    var conf = {};

    var validateField = function(form, field, display) {
      if (form[field].value === '') {
        showError(field, display + ' es requerido.');
        valid = false;
      } else {
        conf[field] = form[field].value;
        hideError(field);
      }
    }

    validateField(form, 'jacketType', 'Tipo');
    validateField(form, 'jacketColor', 'Color');
    validateField(form, 'jacketSize', 'Talla');
    validateField(form, 'name', 'Nombre');
    validateField(form, 'surname', 'Apellidos');
    validateField(form, 'email', 'Email');
    validateField(form, 'street', 'Domicilio');
    validateField(form, 'city', 'Ciudad');
    validateField(form, 'state', 'Estado');
    validateField(form, 'country', 'País');
    validateField(form, 'zip', 'CP');
    if (form.customSleeveSize.value !== '') {
      conf.customSleeveSize = form.customSleeveSize.value;
    }
    if (valid) showPaypalPayment(conf);
  };
</script>