<div class="modal fade" id="sizeGuide" tabindex="-1" role="dialog" aria-labelledby="sizeGuide" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sizeGuide">
          {% if include.lang == "en" %}
            Size guide
          {% else %}
            Guía de talla
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          {% if include.lang == "en" %}
          <p>
            These jackets are <strong>slim fit</strong>.
            If you are hesitant between two sizes <strong>choose the larger one</strong>.
          </p>
          {% else %}
          <p>
            Las chaquetas son <strong>slim fit</strong>.
            Si dudas entre dos tallas <strong>elige la más grande de ambas</strong>.
          </p>
          {% endif %}
        </div>
        <div class="container">
          {% if include.lang == "en" %}
            <h2>Women sizes</h2>
          {% else %}
            <h2>Tallas Mujer</h2>
          {% endif %}
          <table class="table">
          <thead>
            {% if include.lang == "en" %}
            <tr>
              <th scope="col">Size</th>
              <th scope="col">Chest (in)</th>
              <th scope="col">Waist (in)</th>
              <th scope="col">Hip (in)</th>
              <th scope="col">Sleeve (in)</th>
            </tr>
            {% else %}
            <tr>
              <th scope="col">Talla</th>
              <th scope="col">Pecho (cm)</th>
              <th scope="col">Cintura (cm)</th>
              <th scope="col">Cadera (cm)</th>
              <th scope="col">Manga (cm)</th>
            </tr>
            {% endif %}
          </thead>
          <tbody>
            <tr>
              <th scope="row">S</th>
              {% if include.lang == "en" %}
                <td>37.8</td>
                <td>32.3</td>
                <td>37</td>
                <td>30.31</td>
              {% else %}
                <td>96</td>
                <td>82</td>
                <td>94</td>
                <td>77</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">M</th>
              {% if include.lang == "en" %}
                <td>39.4</td>
                <td>33.8</td>
                <td>38.6</td>
                <td>31.1</td>
              {% else %}
                <td>100</td>
                <td>86</td>
                <td>98</td>
                <td>79</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">L</th>
              {% if include.lang == "en" %}
                <td>40.9</td>
                <td>37</td>
                <td>40.9</td>
                <td>31.9</td>
              {% else %}
                <td>104</td>
                <td>94</td>
                <td>104</td>
                <td>81</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">XL</th>
              {% if include.lang == "en" %}
                <td>42.5</td>
                <td>38.6</td>
                <td>42.5</td>
                <td>33.3</td>
              {% else %}
                <td>108</td>
                <td>98</td>
                <td>108</td>
                <td>84.5</td>
              {% endif %}
            </tr>
          </tbody>
          </table>
          </div>
        <div class="container">
          {% if include.lang == "en" %}
            <h2>Men sizes</h2>
          {% else %}
            <h2>Tallas hombre</h2>
          {% endif %}
          <table class="table">
            {% if include.lang == "en" %}
            <tr>
              <th scope="col">Size</th>
              <th scope="col">Chest (in)</th>
              <th scope="col">Waist (in)</th>
              <th scope="col">Hip (in)</th>
              <th scope="col">Sleeve (in)</th>
            </tr>
            {% else %}
            <tr>
              <th scope="col">Talla</th>
              <th scope="col">Pecho (cm)</th>
              <th scope="col">Cintura (cm)</th>
              <th scope="col">Cadera (cm)</th>
              <th scope="col">Manga (cm)</th>
            </tr>
            {% endif %}
          <tbody>
            <tr>
              <th scope="row">S</th>
              {% if include.lang == "en" %}
                <td>40.1</td>
                <td>39.4</td>
                <td>38.5</td>
                <td>34.6</td>
              {% else %}
                <td>104</td>
                <td>100</td>
                <td>98</td>
                <td>88</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">M</th>
              {% if include.lang == "en" %}
                <td>43.3</td>
                <td>41.7</td>
                <td>40.1</td>
                <td>35.4</td>
              {% else %}
                <td>110</td>
                <td>106</td>
                <td>102</td>
                <td>90</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">L</th>
              {% if include.lang == "en" %}
                <td>44.8</td>
                <td>43.3</td>
                <td>42.5</td>
                <td>36</td>
              {% else %}
                <td>114</td>
                <td>110</td>
                <td>108</td>
                <td>91.5</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">XL</th>
              {% if include.lang == "en" %}
                <td>47.2</td>
                <td>44.8</td>
                <td>44</td>
                <td>36</td>
              {% else %}
                <td>120</td>
                <td>114</td>
                <td>112</td>
                <td>26.2</td>
              {% endif %}
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>