<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.5.0 -->
<title>West & Pearl | Premium outerwear, what every outfit needs.</title>
<meta name="generator" content="Jekyll v3.8.5" />
<meta property="og:title" content="West & Pearl" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="Premium outerwear, what every outfit needs." />
<meta property="og:description" content="Premium outerwear, what every outfit needs." />
<link rel="canonical" href="http://westandpearl.com/" />
<meta property="og:url" content="http://westandpearl.com/" />
<meta property="og:site_name" content="West & Pearl" />
<meta name="google-site-verification" content="p8ldnSDRf_akirvJAq-bRjg2Teky2j1HAkp0P_-BuM0" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39056492-2"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-N7FSX2C');</script>

<!-- End Google Tag Manager -->


<script type="application/ld+json">
{"name":"West & Pearl","description":"Premium outerwear, what every outfit needs.","@type":"WebSite","url":"http://westandpearl.com/","headline":"Premium outerwear, what every outfit needs.","@context":"http://schema.org"}</script>
<!-- End Jekyll SEO tag -->

<link rel="icon" href="/img/favicon.gif">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% if jekyll.environment == "production" %}
<script src="https://www.paypal.com/sdk/js?client-id=AY3YHn7QHx6nCsReOvFm1JE4W2bNIB9CcSZjYbTGTNVOx03524DQSX6s8mYIFIDEITCsB8OEWLT5gR5O"></script>
{% else %}
<script src="https://www.paypal.com/sdk/js?client-id=Ack2IcNAnVXbDsj2YbWI4XfT0bzts0UIeIyyy3lZH111LEEz0oRiD1jNR5QKh5xdeCkfTv1am19Y7E0Q"></script>
{% endif %}
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/advertisers.css">
<link rel="stylesheet" href="/assets/main.css">
<link type="application/atom+xml" rel="alternate" href="http://westandpearl.com/feed.xml" title="West & Pearl" />
</head>
<body>
  {% include header.html  %}
  <main class="page-content" aria-label="Content">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39056492-2');
</script>
<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7FSX2C"

height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
</html>
