<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.5.0 -->
  <title>{{page.title}} | Gusto Clásico</title>
  <meta name="generator" content="Jekyll v3.8.5" />
  <meta property="og:title" content="{{ page.excerpt }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="{{ page.excerpt }}" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <link rel="canonical" href="http://localhost:4000/" />
  <meta property="og:url" content="http://localhost:4000/" />
  <meta property="og:site_name" content="Gusto Clásico" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120946321-1"></script>
  <script type="application/ld+json">
  {"name":"Gusto Clásico","description":"{{ page.excerpt }}","@type":"WebSite","url":"http://localhost:4000/","headline":"{{page.title}}","@context":"http://schema.org"}</script>
  <!-- End Jekyll SEO tag -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/assets/main.css"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="Your awesome
  title" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  {% include header.html  %}
  <main class="page-content" aria-label="Content">
    <div class="container blog-post">
      <h1>{{page.title}}</h1>
      <div class="author-and-date">
        <p>por <a href="/gustavo-ortiz">{{page.author}}</a> en {{ page.date | date: "%d/%m/%Y" }}</p>
      </div>
      {{ content }}
      {% include capture-leads.html %}
    </div>
  </main>
  {% include footer.html %}
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120946321-1');
</script>
</body>

</html>
